<div class="step-question">
    <h1>Question 3 - 6</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form">
            <div class="first-part">
                <h2>La discipline</h2>
                <p>Pour quel type d'activité sportive recherchez-vous des chaussures ?</p>
            </div>

            <div class="second-part">
                <label for="discipline">Type de discipline :</label>
                <select id="discipline" [(ngModel)]="step3Data.disciplineId" name="discipline" required>
                    <option value="0">Peu importe</option>
                    @for (discipline of disciplines; track discipline.id) {
                        <option value="{{ discipline.id }}">{{ discipline.name }}</option>
                    }
                </select>
            </div>
        </div>

        <button type="submit" class="button">Suivant</button>
    </form>
</div>
