/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100%;
  color: #3b3b3b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  --button-color: #fd4f63;
  --error: #d62237;
  --white-color: #ffffff;
}

.body {
  margin: 0;
  height: 100%;
  color: #3b3b3b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.main article h1{
  font-size: 2em;
}

footer {
  text-align: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: var(--button-color);
  color: var(--white-color);
  margin: 3em 0;
  padding: 0.7em 3em;
  border-radius: 2em;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: var(--button-color);
}

.button:active {
  background-color: #b33947;
}

.step-question h1 {
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 2em;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.step-question h2 {
  color: #fd4f63;
}

.step-question .form {
  display: flex;
  align-items: flex-end;
}

.step-question .form .first-part {
  width: 50%;
  padding-right: 3em;
}

.step-question .form .second-part {
  width: 50%;
}

.step-question .form .second-part label {
  display: block;
  margin: 1.5em 0;
}

.step-question .form .second-part input, .step-question .form .second-part select {
  width: 100%;
  padding: 1em;
  border-radius: 2em;
  background-color: #9a9898;
  color: var(--white-color);
  font-size: 1em;
  border: none;
  outline: none;
}

.step-question .form .second-part .error {
  border-color: var(--error);
}

.step-question .form .second-part .error-text {
  color: var(--error);
  border: 1px solid var(--error);
  padding: 0.5em;
  border-radius: 1em;
}

@media screen and (max-width: 650px) {
  .step-question h1 {
    margin-bottom: 1em;
  }

  .step-question .form {
    flex-direction: column;
  }

  .step-question .form .first-part {
    width: 100%;
    padding-right: 0;
  }

  .step-question .form .second-part {
    width: 100%;
  }

  .button {
    font-size: 1em;
    width: 100%;
    padding: 0.7em 0;
  }
}
